{% extends 'examiner/base.html' %}
{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Exam Section</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active"><a href="{% url 'examiner_home' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Upload Paper Data</li>
        </ol>
        
        
        
    </div>
    <div class="container">
        {% if messages %}
        {% for message in messages %}
            <div>
<!--                | means OR operator-->
                <strong>{{message|safe}}</strong>
            </div>
        {% endfor %}
    {% else %}
    {{order}}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file1"> Upload a file</label>
        <input type="file" id="file1" name="file">
        <small>Only accepts CSV files</small>
        <button type="submit">Upload</button>
    </form>
    {% endif %}
    {% for profile in profiles %}
    {{profile.name}}
    {% endfor %}




    </div>
</main>
{% endblock content %}